.logo {
    font-weight: 700;
}

.note {
    background: var(--fail);
    color: var(--white);
    padding: 0.5rem;

    && strong  {
        font-weight: 700;
        color: var(--white);
        text-transform: uppercase;
    }
}

.container {
    width: 100%;
    height: 100%;
    max-width: 1024px;
    margin-right: auto;
    margin-left: auto;
    padding: 1rem;
}
