.logo {
    font-weight: 700;
}

.note {
    background: var(--fail);
    color: var(--white);
    padding: 0.5rem;
}

.note strong {
    font-weight: 700;
    color: var(--white);
    text-transform: uppercase;
}

.container {
    margin: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

}


.tasks {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 550px;
    min-width: 400px;
    flex-grow: 1;
}

.task {
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    border-radius: 1rem;
    background: var(--light);
    flex-grow: 1;

    && h3 {
        font-weight: 700;
    }
}

.task-status {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;


    && .due {
        word-break: normal;
        opacity: 0.8;
    }

    && strong {
        width: fit-content;
        background-color: var(--dark);
        color: var(--light);
        padding: 0 1rem;
        border-radius: 1rem;
    }
}

.status-todo {
    color: orange;
    font-weight: 700;
}

.status-completed {
    color: green;
    font-weight: 700;
}


.task-actions {
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 0.5rem;
    align-items: end;
}